

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 80, 80, 0.5);
}

.product-details {
    background: #fff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.cerrarDe {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
}

.info {
    margin-top: 20px;
}

